* {
    box-sizing: border-box;
}

body {
    padding: 0;
    border: 0;
}

.calc {
    width: 500px;
    background-color: black;
    color: white;
}

.screen {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 34px;
}

.calc-button {
    background-color: rgba(255, 255, 255, 0.877);
    color: black;
    height: 100px;
    width: 24.5%;
    border: none;
    border-radius: 0;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: rgba(238, 238, 238, 0.700);
}

.calc-button:active {
    background-color: white;
}

.calc-button:last-child {
    background-color: rgba(10, 8, 116, 0.877);
    color: white;
}

.calc-button:last-child:hover {
    background-color: rgba(10, 8, 116, 0.5);
}

.calc-button:last-child:active {
    background-color: rgba(17, 15, 134, 0.986);
}


.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}